---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
  <main>
    <h1>Hello.</h1>
    <p>A place for thoughts as they make their way through my head.</p>
  </main>
</BaseLayout>
