---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
    <main class="flex flex-col items-center justify-center min-h-screen gap-4">
        <div class="flex items-center gap-4">
            <img
                class="w-12"
                src="/logo.svg"
                alt="Internal Transit logo"
            />
            <h1 class="font-display text-3xl tracking-widest">
                INTERNAL TRANSIT
            </h1>
        </div>
        <p>A place for thoughts as they make their way through my head.</p>
    </main>
</BaseLayout>
